<html>
<head>
<title>Segreteria</title>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
</head>
<body>
 <table class="table table-bordered">
   <thead>
  <tr>
     <th> Email </th>
                      <th> Password</th>
                      <th> Nome</th>
                      <th> Cognome</th>
  </tr>
                </thead>
                <tbody>_
<tr th:each="utente : ${utenti}">
         <td><span th:text="${utente.email}"> Email </span></td>
         <td><span th:text="${utente.password}"> Password </span></td>
         <td><span th:text="${utente.nome}"> Nome </span></td>
         <td><span th:text="${utente.cognome}"> Cognome </span></td>
       </tr>
   </tbody>
      </table>
</body>
</html>


